body {
    margin:0;
}

html{
    scroll-behavior: smooth;
}

/* header*/
.header-logo {
    text-decoration:none;
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-weight:700;
    margin-left: 80px;
    margin-right: 862px;
    margin-top: 40px;
    
    
}

header {
    background-color: aquamarine;
    padding-top: 30px;
    height: 65px;
    position: fixed;
}

.menu{
    text-decoration: none;
    color: black;
}

.menu:hover{
    color: brown;
    transition-duration: 0.5s;
}
/* home*/

.home {
    
    background-color: aquamarine;
    height: 750px;
}

.home {
    display:grid;
    grid-template-columns: 55% auto;
    
}

img { 
    width:400px;
    margin-top: 220px;
    padding-right: 200px;
}

li{
    list-style: none;
    float: left;
    padding: 0px 10px;
    margin: 0px 5px;
    
    
}

.header-list{
    float: right;
    margin-right: 80px;
    
   
}

h1{
    margin-top: 200px;
    margin-left: 140px;
    margin-bottom: 0px;
    font-size: 60px;
}
h5{
    margin-left: 140px;
    margin-top: 0px;
    margin-bottom: 70px;
    font-size: 25px;
}

.btn{
    text-decoration: none;
}

.btn1{
    margin-left: 180px;
    padding: 10px;
    margin-right: 15px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn1:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 0.8;
    transition-duration: 1s;
}

.btn2{
    padding: 10px 35px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.btn2:hover{
    background-color: black;
    color: white;
    opacity: 0.8;
    transition-duration: 1s;
}
.medsos{
    margin-left: 120px;
    margin-top: 20px;
}

.medsos img{
    text-decoration: none;
    width: 30px;
    margin: 0;
    margin-top: 60px;
    padding: 0;
    padding-left: 20px;
    
}
/* biodata*/
.biodata{
    background-color: bisque;
    height: 400px;
}
/* pengalaman*/
.pengalaman{
    background-color: aquamarine;
    height: 400px;
}
/* galeri*/
.galeri{
    background-color: bisque;
    height: 400px;
}
/* kontak*/
.kontak{
    background-color: aquamarine;
    height: 400px;
}
/* footer*/
footer{
    height: 100px;
    background-color: rgb(4, 41, 29);
}




